<!-- implimenting custom search -->

<!-- <div class="card text-left|center|right">
  <div class="card-body">
    <h4 class="card-title">Custom Search</h4>
    <p class="card-text">
      <input name="id"  type="text" class="form-control" name="custom" [(ngModel)]="custom"  >
      <br>
      <a  class="btn btn-primary" role="button" (click)="customsearch()" routerLink="/language/dash" >Search</a>
    </p>
  </div>
</div> -->
<div class="container mt-3 ">
  <div class="card-columns">

    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/django">
        <div class="card-body">

          <i class="devicon-django-plain" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center"> Django</h4>
        </div>
      </a>
    </div>
    <div class="card text-center">

      <a class="badge badge-light" routerLink="/language/angular">
        <div class="card-body">
          <i class="devicon-angularjs-plain " style="Font-size: 10rem;"></i>

          <h4 class="card-title text-center">Angular</h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/php">
        <div class="card-body">
          <i class="devicon-php-plain " style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Php</h4>
        </div>
      </a>
    </div>

    <div class="card text-center ">
      <a class="badge badge-light" routerLink="/language/nodejs">
        <div class="card-body">
          <i class="devicon-nodejs-plain " style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Node Js</h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/python">
        <div class="card-body">
          <i class="devicon-python-plain " style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Python</h4>
        </div>
      </a>
    </div>

    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/react">
        <div class="card-body">
          <i class="devicon-react-plain " style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">React </h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/c#">
        <div class="card-body">
          <i class="devicon-csharp-plain-wordmark" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">C#</h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/rails">
        <div class="card-body">
          <i class="devicon-rails-plain-wordmark" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Rails </h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/backbone">
        <div class="card-body">
          <i class="devicon-backbonejs-plain colored" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Backbone </h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/react-native">
        <div class="card-body">
          <i class="devicon-react-plain " style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">React Native </h4>
        </div>
      </a>
    </div>
    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/c++">
        <div class="card-body">
          <i class="devicon-cplusplus-plain-wordmark" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">C++ </h4>
        </div>
      </a>
    </div>

    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/ios">
        <div class="card-body">
          <i class="devicon-apple-original" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Ios</h4>
        </div>
      </a>
    </div>

    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/wordpress">
        <div class="card-body">
          <i class="devicon-wordpress-plain" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">Wordpress</h4>
        </div>
      </a>
    </div>


    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/android">
        <div class="card-body">
          <i class="devicon-android-plain" style="Font-size: 10rem;"></i>

          <h4 class="card-title text-center">Android</h4>
        </div>
      </a>
    </div>


    <div class="card text-center">
      <a class="badge badge-light" routerLink="/language/jquery">
        <div class="card-body">

          <i class="devicon-jquery-plain" style="Font-size: 10rem;"></i>
          <h4 class="card-title text-center">jquery</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="card text-center">
    <a class="badge badge-light" routerLink="/language/api">
      <div class="card-body">
        <img class="img-thumbnail" src="./../../../assets/noun.png">
        <h4 class="card-title text-center">Public Api</h4>
      </div>
    </a>
  </div>

</div>
